<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/chat/chat.css">
  <link rel="stylesheet" href="../../styles/partials/formInput.css">
  <link rel="stylesheet" href="../../styles/chat/chatListItem.css">
  <link rel="stylesheet" href="../../styles/chat/message.css">
  <title>Chat</title>
</head>

<body>
  <div class="side-menu">
    <div class="side-menu__panel">
      <a href="{{routes.pages.profile.href}}">
        <img src="{{imgRoutes.settings}}">
      </a>
      {{> formInput id="search" name="search" type="text" placeholder="Search..."}}
      <a href="#">
        <img src="{{imgRoutes.addUser}}">
      </a>
    </div>

    <div class="side-menu__list">
      {{#each chats.list}}
      {{> chat/chatListItem 
        username=this.name 
        lastMessage=this.messages.[3].text
        lastOnline=this.lastOnline
        unreadMessagesCount=this.unreadMessagesCount
        opened=this.opened
      }}
      {{/each}}
    </div>
  </div>
  <div class="main">
    <div class="main__panel">
      <div class="panel__left">
        <div class="panel__icon">
          <img src="{{imgRoutes.avatar}}">
        </div>
        <div class="panel__user-info">
          <span>{{chats.list.[1].name}}</span>
          <span>Last online: {{chats.list.[1].lastOnline}}</span>
        </div>
      </div>
      <a href="#">
        <img src="{{imgRoutes.more}}">
      </a>
    </div>

    <div class="main__msgs">
      {{#each chats.list.[1].messages}}
        {{> chat/message author=this.author text=this.text time=this.time}}
      {{/each}}
    </div>

    <div class="main__edit-msg">
      <a href="#">
        <img src="{{imgRoutes.uploadFile}}">
      </a>
      {{> formInput id="typeField" name="typeField" type="text" placeholder="Start typing..."}}
      {{> formButton id="submit" type="button" class="edit-msg__button" innerText="Send message"
      img_src=imgRoutes.sendMessage}}
    </div>
  </div>
</body>

</html>