<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#each css}}
  <link rel="stylesheet" href="../../styles/{{this}}">
  {{/each}}
  <title>
    {{> title}}
  </title>
</head>

<body>
  <a href="{{routes.pages.chat.href}}" class="side-button">
    <img src="{{imgRoutes.back}}">
  </a>
  <div class="main-area">
    <div class="main-area__header">
      <label for="uploadAvatar" class="main-area__icon">
        <img src="{{imgRoutes.avatar}}">
        <input type="file" name="uploadAvatar" id="uploadAvatar" hidden="true">
      </label>
      <span class="main-area__username">{{user.display_name}}</span>
    </div>
    {{{body}}}
  </div>
</body>

</html>