<button 
  type="{{type}}" 
  {{#if form}}
    form="{{form}}" 
  {{/if}}
  {{#if id}}
    id="{{id}}" 
  {{/if}}
  {{#if class}}
    class="{{class}}" 
  {{/if}}
>
  {{#if innerText}}
    <span>{{innerText}}</span>
  {{/if}}
  {{#if img_src}}
    <img src="{{img_src}}">
  {{/if}}
</button>
